.upload-image-container {
    width: 100%;
    position: relative;

    .on-camera {
        position: absolute;
        top: 35px;
        right: 10px;
        border: none;
        background-color: transparent;
        font-size: 25px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        input {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #cccccc85;
            outline: none;
            height: fit-content;
        }

        button {
            background-color: rgb(68, 99, 238);
            border: none;
            padding: 6px;
            border-radius: 5px;
            font-size: 18px;
            color: #fff;
        }
    }
}

.preview-images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 200px;
}

.preview-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.layout-1 .preview-image {
    flex: 1 1 100%;
}

.layout-2 .preview-image {
    flex: 1 1 calc(50% - 10px);
}

.layout-3 .preview-image:nth-child(1),
.layout-3 .preview-image:nth-child(2) {
    flex: 1 1 calc(50% - 10px);
}

.layout-3 .preview-image:nth-child(3) {
    flex: 1 1 100%;
}

.layout-4 .preview-image {
    flex: 1 1 calc(50% - 10px);
}

@media (max-width: 1380px) {

    .layout-1,
    .layout-2,
    .layout-3,
    .layout-4 {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media (max-width: 992px) {

    .layout-1,
    .layout-2,
    .layout-3,
    .layout-4 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 768px) {

    .layout-1,
    .layout-2,
    .layout-3,
    .layout-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.camera-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;

    .camera {
        position: relative;

        video {
            width: 640px;
            height: 600px;
        }

        .capture {
            position: absolute;
            bottom: 10px;
            left: 43%;
            font-size: 40px;
            border: none;
            background-color: transparent;
            color: red;
        }

        .off-camera {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            border: none;
            background-color: transparent;
            color: rgb(0, 0, 0);
        }

        .toggle-camera {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 20px;
            border: none;
            background-color: transparent;
            color: rgb(0, 0, 0);
        }
    }
}

@media only screen and (max-width: 480px) {
    .camera-container {
        .camera {
            video {
                width: 360px;
                height: max-content;
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .camera-container {
        .camera {
            video {
                width: 400px;
                height: 360px;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .camera-container {
        .camera {
            video {
                width: 720px;
                height: 360px;
            }
        }
    }
}