.manage-post,
.manage-user,
.manage-like,
.manage-comment,
.manage-message {
    background-color: rgba(227, 205, 253, 0.247);
    width: 100%;
    max-width: 100%;
    margin: 15px 24px;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    overflow-y: auto;
    height: 100vh;
}

.manage-post::-webkit-scrollbar,
.manage-user::-webkit-scrollbar,
.manage-like::-webkit-scrollbar,
.manage-comment::-webkit-scrollbar,
.manage-message::-webkit-scrollbar {
    display: none;
}