.manage-post {
    background-color: rgba(227, 205, 253, 0.247);
    width: 100%;
    max-width: 100%;
    margin: 15px 24px;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    overflow-y: auto;
    height: 100vh;
}