.notify-box {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 83px;
    align-items: center;
    background-color: rgb(203, 230, 255);
    border-bottom: 1px solid #cccbcbb0;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-left: 10px;
    }

    .notify-content {

        h6 {
            font-weight: 600;
            font-size: 15px;
            margin-top: 25px;
            line-height: 0px;
        }

        span {
            font-size: 8px;
            color: #979797;
        }

        p {
            font-size: 13px;
            font-weight: 300;
        }
    }
}

.unread {
    background-color: #ffffff;
}