.post {
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.45);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;

    .description {
        padding-left: 16px;
        padding-top: 16px;
        margin: 0;
    }
}

.post-header {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        object-fit: cover;
    }

    .info-post {
        display: flex;
        flex-direction: column;
        line-height: 5px;
        margin-top: 15px;

        p {
            font-size: 12px;
            color: #969696;
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 10px;
        background-color: transparent;
        color: red;
        font-size: 20px;
        border: none;
    }
}



.post-content {
    padding: 0 20px;
    border-radius: 8px;
}

.post-images {
    display: grid;
    gap: 3px;
}

.post-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.post-images.one-image {
    grid-template-columns: 1fr;
}

.post-images.two-images {
    grid-template-columns: repeat(2, 1fr);
}

.post-images.three-images {
    grid-template-columns: repeat(2, 1fr);
}

.post-images.three-images img:nth-child(3) {
    grid-column: span 2;
}

.post-images.four-images {
    grid-template-columns: repeat(2, 1fr);
}

.post-footer {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 15px;

    .number-post {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    u {
        border: 1px solid #cccccc67;
        margin-top: -10px;
    }

    .button-post {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            border: 0;
            background-color: transparent;
            font-size: 18px;
        }
    }
}

.post-bottom-comment {
    width: 100%;

    .add-comment-form {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        input {
            width: 95%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #6867679d;
            padding-left: 5px;
            outline: none;
        }

        button {
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: rgb(71, 71, 255);
        }
    }
}

@media (max-width: 1380px) {
    .post-content {
        padding: 0 300px;
        border-radius: 8px;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .post-content {
        padding: 0 20px;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    .post-content {
        padding: 0 16px;
        border-radius: 8px;
    }
}

// ImageModal.scss
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-image {
    position: relative;
    background: white;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-image img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #020202;
}