.btnDelete {
    background-color: transparent;
    border: 0;
    color: rgb(255, 61, 61);
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #e9ecef;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}